@charset "utf_8";
.gwidth{
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
.qb{
	display: none;
}
.nav{
	display: block;
}
.swiper-container {
    width: 100%;
    height: 290px;
} 
.swiper-slide img{
	width: 100%;
	height: 100%;
}
.gszz{
	height: 127px;
	background-color: #FFC001;
	text-align: center;
}
.li h4{
	font-size: 20px;
	color: #fff;
	font-style: normal;
	padding-top: 13px;
	padding-bottom: 20px;
}
.li p{
	display: inline-block;
	width: 384px;
	height: 83px;
	font-size: 15px;
	color: #fff;
	padding:0px 16px 0px 16px;

}
.gsjj{
	padding-left: 100px;
	height: 460px;
}
.gsjj_l{
	margin-top: 55px;
}
.gsjj_r{
	display: block;
	margin-left:45px;
	margin-top:80px;
}
.gsjj_l p{
	padding-top: 10px;
	width: 345px;
	height: 75px;
	line-height: 30px;
}
.cpzs{
	height: 300px;
}
.cpzs_bottom li{
    float: left;
    width: 25%;
    margin-right: -30px;
}
.xdq {
	padding-left: 70px;
}
.xdq li{
	width: 149px;
	margin-right: 37px;
}
.cpzs_bottom li img{
	width: 164px;
	height: 173px;
    border:1px solid #ccc;
}
.sdys{
	background-color: #FFC001;
	height: 250px;
}
.hzlm{
	width: 100%;
	text-align: center;
	height: 249px;
	background: url(../image/jianpan.png) no-repeat;
}
.hzlm{
	line-height: 26px;
}
.xwzx_bottom{
	margin-top:20px;
	padding-left: 50px;
}
.xwzx_bottom li{
	float: left;
	
}
.xwzx{
	height: 527px;
}